

/* GLOBAL STYLES
-------------------------------------------------- */


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  
  .carousel-item {
    height: 32rem;
  }

  .titleasd{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
 
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
 
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


  /*Vista distancia entre aeropuertos*/

  #mainDisAirport{
     background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1309/Airport_taxiing_aircraft-September_2013_Bing_wallpaper_1366x768.jpg");
     background-repeat:no-repeat;
  background-position-x:center;
     background-position-y:25%; 
     background-size: cover
    
  }

  #subTextoDistanciaAirport{
    
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:white;
  }


/*Vista Calculo entre puntos*/

  #logoThePilotBag{
    border-radius: 50%;
  }

#mainDisEntrePuntos{
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnQlMjBibHVlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat:no-repeat;
background-position-x:center;
  background-position-y:25%; 
  background-size: cover;

  color: white
}


/*Vista Login*/

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*vista Registro*/

.spinner {
  margin: 0 auto;
  width: 36px;
  height: 36px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: blue;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#backgroundRegister{
  background-image: url("https://fondosmil.com/fondo/31177.jpg");
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:25%; 
  background-size: cover;

  color: white
}

#backgroundLogin{
  background-image: url("https://conocedores.com/wp-content/uploads/2019/09/avion-36mil-pies-11092019.jpg");
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:25%; 
  background-size: cover;
  color: white
}


/*vista Planta de combustible*/

#backgroundPlantasCombu{
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnQlMjBibHVlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:25%; 
  background-size: cover;
  color: white

 
}