

/* GLOBAL STYLES
-------------------------------------------------- */


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  
  .carousel-item {
    height: 32rem;
  }

  .titleasd{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
 
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
 
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


  /*Vista distancia entre aeropuertos*/

  #mainDisAirport{
     background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1309/Airport_taxiing_aircraft-September_2013_Bing_wallpaper_1366x768.jpg");
     background-repeat:no-repeat;
  background-position-x:center;
     background-position-y:25%; 
     background-size: cover
    
  }

  #subTextoDistanciaAirport{
    
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:white;
  }